#one{
    background-color: blueviolet;
    height: 100px;
    width: 100px;
    display: inline-block;
}
#two{
    background-color: blueviolet;
    height: 100px;
    width: 100px;
    display: inline-block;
}
