#parent{
    height: 400px;
    border: 2px solid green;
    display: flex;
    align-items: center;
    justify-content: center;
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    /* flex-direction: column-reverse; */
    /* flex-wrap: wrap; */
}

.two{
    height: 100px;
    width: 100px;
}
#one{
    background-color: red;
}
#two{
    background-color: rgb(0, 255, 21);
}
#three{
    background-color: rgb(38, 0, 255);
}
#four{
    background-color: rgb(229, 255, 0);
}
