#outer
{
     height: 600px;
     width: 600px;
     /* background-color: aquamarine; */
     border: 2px solid green;
     margin: 100px auto 100vh auto;

}
#inner
{   
    height: 100px;
    width: 100px;
    background-color: brown;
    margin: auto;
    position: sticky;
    top: 20px;
}